In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\Dell\Downloads\loan.csv")

In [3]:
data

,UID,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score,approval_status,Age,Sex,Purpose,Hobby
0,LP001002,NO,0,Graduate,45848,NaN,360.0,1.0,0,40.0,Male,Education,Reading
1,LP001002,NO,0,Graduate,45848,NaN,360.0,1.0,0,40.0,Male,Education,Reading
2,LP001003,YES,1,Graduate,15325,128.0,360.0,1.0,1,22.0,Male,Education,Reading
3,LP001005,YES,0,Graduate,29105,66.0,360.0,1.0,0,27.0,Male,Education,Reading
4,LP001006,YES,0,Not Graduate,42944,120.0,360.0,1.0,0,36.0,F,Education,Reading
...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,LP002978,No,0,Graduate,19515,71.0,360.0,1.0,1,55.0,Female,Travel,Watching Movie
611,LP002979,Yes,3+,Graduate,30004,40.0,180.0,1.0,1,47.0,Male,Wedding,Watching Movie
612,LP002983,Yes,1,Graduate,39788,253.0,360.0,1.0,1,27.0,Male,Wedding,Watching Movie
613,LP002984,Yes,2,Graduate,37984,187.0,360.0,1.0,0,47.0,Male,Wedding,Watching Movie
614,LP002990,No,0,Graduate,23743,133.0,360.0,0.0,1,42.0,Female,Travel,Watching Movie

In [4]:
data.columns

Index(['UID', 'Marital_status', 'Dependents', 'Is_graduate', 'Income',
       'Loan_amount', 'Term_months', 'Credit_score', 'approval_status', 'Age',
       'Sex', 'Purpose', 'Hobby'],
      dtype='object')

In [5]:
data['Purpose'].value_counts()

Purpose
Wedding      421
Education     95
Personal      82
Travel        17
Name: count, dtype: int64

In [6]:
data.isnull().sum(axis=0)

UID                 0
Marital_status      2
Dependents         15
Is_graduate         2
Income              0
Loan_amount        23
Term_months        14
Credit_score       50
approval_status     0
Age                 6
Sex                13
Purpose             0
Hobby               0
dtype: int64

In [7]:
data.dtypes

UID                 object
Marital_status      object
Dependents          object
Is_graduate         object
Income               int64
Loan_amount        float64
Term_months        float64
Credit_score       float64
approval_status      int64
Age                float64
Sex                 object
Purpose             object
Hobby               object
dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UID              615 non-null    object
 1   Marital_status   613 non-null    object
 2   Dependents       600 non-null    object
 3   Is_graduate      613 non-null    object
 4   Income           615 non-null    int64
 5   Loan_amount      592 non-null    float64
 6   Term_months      601 non-null    float64
 7   Credit_score     565 non-null    float64
 8   approval_status  615 non-null    int64
 9   Age              609 non-null    float64
 10  Sex              602 non-null    object
 11  Purpose          615 non-null    object
 12  Hobby            615 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 62.6+ KB

In [9]:
data.isnull().sum(axis=0)

UID                 0
Marital_status      2
Dependents         15
Is_graduate         2
Income              0
Loan_amount        23
Term_months        14
Credit_score       50
approval_status     0
Age                 6
Sex                13
Purpose             0
Hobby               0
dtype: int64

In [10]:
data['Marital_status'].value_counts()

Marital_status
Yes    274
No     156
YES    112
NO      71
Name: count, dtype: int64

In [11]:
data['Marital_status']=data['Marital_status'].map({'YES':'Yes', 'NO':'No'})

In [12]:
data['Marital_status']=data['Marital_status'].fillna('Yes')

In [13]:
data.columns

Index(['UID', 'Marital_status', 'Dependents', 'Is_graduate', 'Income',
       'Loan_amount', 'Term_months', 'Credit_score', 'approval_status', 'Age',
       'Sex', 'Purpose', 'Hobby'],
      dtype='object')

In [14]:
data['UID'].value_counts()

UID
LP002872    3
LP001002    2
LP002319    1
LP002301    1
LP002305    1
           ..
LP001691    1
LP001692    1
LP001693    1
LP001698    1
LP002990    1
Name: count, Length: 612, dtype: int64

In [15]:
data['Dependents'].value_counts()

Dependents
0     346
1     102
2     101
3+     51
Name: count, dtype: int64

In [16]:
data['Dependents'] = data['Dependents'].replace({'3+': 3})

In [17]:
data['Dependents'].value_counts()

Dependents
0    346
1    102
2    101
3     51
Name: count, dtype: int64

In [18]:
data['Dependents']=data['Dependents'].fillna(0)

In [19]:
data.isnull().sum(axis=0)

UID                 0
Marital_status      0
Dependents          0
Is_graduate         2
Income              0
Loan_amount        23
Term_months        14
Credit_score       50
approval_status     0
Age                 6
Sex                13
Purpose             0
Hobby               0
dtype: int64

In [20]:
data['Loan_amount']

0        NaN
1        NaN
2      128.0
3       66.0
4      120.0
       ...
610     71.0
611     40.0
612    253.0
613    187.0
614    133.0
Name: Loan_amount, Length: 615, dtype: float64

In [21]:
data['Loan_amount'].mean()

146.41216216216216

In [22]:
data['Loan_amount']=data['Loan_amount'].replace({np.nan:146.412})

In [23]:
data['Is_graduate'].value_counts()

Is_graduate
Graduate        479
Not Graduate    134
Name: count, dtype: int64

In [24]:
data['Is_graduate']=data['Is_graduate'].fillna(479)

In [25]:
data.columns

Index(['UID', 'Marital_status', 'Dependents', 'Is_graduate', 'Income',
       'Loan_amount', 'Term_months', 'Credit_score', 'approval_status', 'Age',
       'Sex', 'Purpose', 'Hobby'],
      dtype='object')

In [26]:
data.isnull().sum(axis=0)

UID                 0
Marital_status      0
Dependents          0
Is_graduate         0
Income              0
Loan_amount         0
Term_months        14
Credit_score       50
approval_status     0
Age                 6
Sex                13
Purpose             0
Hobby               0
dtype: int64

In [27]:
data['Term_months'].value_counts()

Term_months
360.0    513
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [28]:
data['Term_months']=data['Term_months'].fillna(360.0)

In [29]:
data['Credit_score'].value_counts()

Credit_score
1.0    476
0.0     89
Name: count, dtype: int64

In [30]:
data['Credit_score']=data['Credit_score'].fillna(1.0)

In [31]:
data['Sex'].value_counts()

Sex
Male      463
Female    107
M          18
F          14
Name: count, dtype: int64

In [32]:
data['Sex']=data['Sex'].replace({'M':'Male', 'F':'Female'})

In [33]:
data['Sex'].value_counts()

Sex
Male      481
Female    121
Name: count, dtype: int64

In [34]:
data['Sex']=data['Sex'].fillna('Male')

In [35]:
data.dtypes

UID                 object
Marital_status      object
Dependents          object
Is_graduate         object
Income               int64
Loan_amount        float64
Term_months        float64
Credit_score       float64
approval_status      int64
Age                float64
Sex                 object
Purpose             object
Hobby               object
dtype: object

In [36]:
from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()

data['Sex']=lb.fit_transform(data['Sex'])

In [37]:
from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()

data['Marital_status']=lb.fit_transform(data['Marital_status'])

In [38]:
from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()

data['Hobby']=lb.fit_transform(data['Hobby'])

In [39]:
from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()

data['UID']=lb.fit_transform(data['UID'])

In [40]:
data['Is_graduate'].value_counts()

Is_graduate
Graduate        479
Not Graduate    134
479               2
Name: count, dtype: int64

In [41]:
data['Is_graduate']=data['Is_graduate'].map({'Graduate':1, 'Not Graduate':0})

In [42]:
data['Dependents']=data['Dependents'].astype(int)

In [43]:
data['Dependents'].value_counts()

Dependents
0    361
1    102
2    101
3     51
Name: count, dtype: int64

In [44]:
data.dtypes

UID                  int32
Marital_status       int32
Dependents           int32
Is_graduate        float64
Income               int64
Loan_amount        float64
Term_months        float64
Credit_score       float64
approval_status      int64
Age                float64
Sex                  int32
Purpose             object
Hobby                int32
dtype: object

In [45]:
data.isnull().sum(axis=0)

UID                0
Marital_status     0
Dependents         0
Is_graduate        2
Income             0
Loan_amount        0
Term_months        0
Credit_score       0
approval_status    0
Age                6
Sex                0
Purpose            0
Hobby              0
dtype: int64

In [46]:
data['Is_graduate'].value_counts()

Is_graduate
1.0    479
0.0    134
Name: count, dtype: int64

In [47]:
data['Is_graduate']=data['Is_graduate'].fillna(1.0)

In [48]:
data

,UID,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score,approval_status,Age,Sex,Purpose,Hobby
0,0,0,0,1.0,45848,146.412,360.0,1.0,0,40.0,1,Education,0
1,0,0,0,1.0,45848,146.412,360.0,1.0,0,40.0,1,Education,0
2,1,1,1,1.0,15325,128.000,360.0,1.0,1,22.0,1,Education,0
3,2,1,0,1.0,29105,66.000,360.0,1.0,0,27.0,1,Education,0
4,3,1,0,0.0,42944,120.000,360.0,1.0,0,36.0,0,Education,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,607,1,0,1.0,19515,71.000,360.0,1.0,1,55.0,0,Travel,1
611,608,1,3,1.0,30004,40.000,180.0,1.0,1,47.0,1,Wedding,1
612,609,1,1,1.0,39788,253.000,360.0,1.0,1,27.0,1,Wedding,1
613,610,1,2,1.0,37984,187.000,360.0,1.0,0,47.0,1,Wedding,1
614,611,1,0,1.0,23743,133.000,360.0,0.0,1,42.0,0,Travel,1

In [49]:
data['Purpose'].value_counts()

Purpose
Wedding      421
Education     95
Personal      82
Travel        17
Name: count, dtype: int64

In [50]:
data['Wedding Loan']=data['Purpose'].apply(lambda x:1 if x=='Wedding' else 0 )

In [51]:
data['Education Loan']=data['Purpose'].apply(lambda x:1 if x=='Education' else 0 )

In [52]:
data['Personal Loan']=data['Purpose'].apply(lambda x:1 if x=='Personal' else 0 )

In [53]:
data['Travel Loan']=data['Purpose'].apply(lambda x:1 if x=='Travel' else 0 )

In [54]:
data.columns

Index(['UID', 'Marital_status', 'Dependents', 'Is_graduate', 'Income',
       'Loan_amount', 'Term_months', 'Credit_score', 'approval_status', 'Age',
       'Sex', 'Purpose', 'Hobby', 'Wedding Loan', 'Education Loan',
       'Personal Loan', 'Travel Loan'],
      dtype='object')

In [55]:
data['Age']=data['Age'].fillna(29)

In [56]:
x=data[['UID', 'Sex', 'Marital_status', 'Dependents', 'Is_graduate', 'Income',
       'Loan_amount', 'Term_months', 'Credit_score']]

## Wedding loan

In [57]:
y=data['Wedding Loan']

In [58]:
from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=42)

In [59]:
x_train

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score
83,82,0,0,2,1.0,32880,167.0,360.0,1.0
90,89,1,1,0,1.0,46984,175.0,360.0,1.0
228,227,1,1,2,1.0,8782,210.0,360.0,1.0
509,508,1,1,0,1.0,49571,188.0,360.0,1.0
329,328,0,1,0,1.0,36272,110.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...
71,70,1,0,0,1.0,44619,172.0,360.0,1.0
106,105,0,1,1,1.0,37924,100.0,360.0,1.0
270,269,0,1,1,1.0,35032,90.0,360.0,1.0
435,434,1,1,0,1.0,15206,100.0,360.0,1.0
102,101,1,1,0,1.0,25152,151.0,360.0,1.0

In [60]:
x_test

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score
248,247,1,1,1,0.0,35741,137.0,180.0,1.0
365,364,1,1,0,1.0,17304,141.0,360.0,1.0
432,431,1,1,0,1.0,43750,105.0,360.0,0.0
610,607,0,1,0,1.0,19515,71.0,360.0,1.0
132,131,1,1,0,1.0,13741,74.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...
281,280,1,1,1,0.0,38788,158.0,360.0,0.0
291,290,1,1,0,1.0,34775,139.0,360.0,1.0
250,249,1,1,0,1.0,35735,90.0,360.0,1.0
11,10,1,1,2,1.0,44904,70.0,360.0,1.0
336,335,1,1,0,1.0,29937,70.0,360.0,1.0

In [61]:
y_train

83     0
90     0
228    1
509    1
329    1
      ..
71     0
106    0
270    1
435    1
102    0
Name: Wedding Loan, Length: 492, dtype: int64

In [62]:
y_test

248    1
365    1
432    1
610    0
132    0
      ..
281    1
291    1
250    1
11     0
336    1
Name: Wedding Loan, Length: 123, dtype: int64

In [63]:
from sklearn.linear_model import LogisticRegression

lr=LogisticRegression()

lr.fit(x_train, y_train)

LogisticRegression()

In [64]:
predict1=lr.predict(x_test)

In [65]:
probability=lr.predict_proba(x_test)[:, 1]

In [66]:
from sklearn.metrics import accuracy_score

score1=accuracy_score(y_test, predict1)

In [67]:
score1

0.9512195121951219

In [68]:
df1=pd.DataFrame({'Actual':y_test, 'Logistic_regression': predict1} )

In [69]:
df1

     Actual  Logistic_regression
248       1                    1
365       1                    1
432       1                    1
610       0                    1
132       0                    0
..      ...                  ...
281       1                    1
291       1                    1
250       1                    1
11        0                    0
336       1                    1

[123 rows x 2 columns]

In [70]:
#save the model

In [71]:
import joblib

# Assuming 'model' is your trained model
joblib.dump(lr, 'model_weeding_loan.pkl')

['model_weeding_loan.pkl']

## Education loan

In [72]:
y= data['Education Loan']

In [73]:
from sklearn.model_selection import train_test_split 

x_train, x_test, y_train , y_test=train_test_split (x, y, test_size=0.2, random_state=42)

In [74]:
x_train

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score
83,82,0,0,2,1.0,32880,167.0,360.0,1.0
90,89,1,1,0,1.0,46984,175.0,360.0,1.0
228,227,1,1,2,1.0,8782,210.0,360.0,1.0
509,508,1,1,0,1.0,49571,188.0,360.0,1.0
329,328,0,1,0,1.0,36272,110.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...
71,70,1,0,0,1.0,44619,172.0,360.0,1.0
106,105,0,1,1,1.0,37924,100.0,360.0,1.0
270,269,0,1,1,1.0,35032,90.0,360.0,1.0
435,434,1,1,0,1.0,15206,100.0,360.0,1.0
102,101,1,1,0,1.0,25152,151.0,360.0,1.0

In [75]:
x_test

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score
248,247,1,1,1,0.0,35741,137.0,180.0,1.0
365,364,1,1,0,1.0,17304,141.0,360.0,1.0
432,431,1,1,0,1.0,43750,105.0,360.0,0.0
610,607,0,1,0,1.0,19515,71.0,360.0,1.0
132,131,1,1,0,1.0,13741,74.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...
281,280,1,1,1,0.0,38788,158.0,360.0,0.0
291,290,1,1,0,1.0,34775,139.0,360.0,1.0
250,249,1,1,0,1.0,35735,90.0,360.0,1.0
11,10,1,1,2,1.0,44904,70.0,360.0,1.0
336,335,1,1,0,1.0,29937,70.0,360.0,1.0

In [76]:
y_train

83     1
90     1
228    0
509    0
329    0
      ..
71     1
106    0
270    0
435    0
102    0
Name: Education Loan, Length: 492, dtype: int64

In [77]:
y_test

248    0
365    0
432    0
610    0
132    0
      ..
281    0
291    0
250    0
11     1
336    0
Name: Education Loan, Length: 123, dtype: int64

In [78]:
from sklearn.linear_model import LogisticRegression 

lr=LogisticRegression()
lr.fit(x_train, y_train)

C:\Users\Dell\Downloads\anoconda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [79]:
predict2=lr.predict(x_test)

In [80]:
score2=accuracy_score(y_test, predict2)

In [81]:
score2

0.9512195121951219

In [82]:
df2=pd.DataFrame({'Actual':y_test, 'Logistic_regression1':predict2})

In [83]:
df2

     Actual  Logistic_regression1
248       0                     0
365       0                     0
432       0                     0
610       0                     0
132       0                     0
..      ...                   ...
281       0                     0
291       0                     0
250       0                     0
11        1                     1
336       0                     0

[123 rows x 2 columns]

In [84]:
import joblib

joblib.dump(lr, 'model_Education_loan.pkl')

['model_Education_loan.pkl']

## Personal_loan

In [85]:
y= data['Personal Loan']

In [86]:
from sklearn.model_selection import train_test_split 

x_train, x_test, y_train , y_test=train_test_split (x, y, test_size=0.2, random_state=42)

In [87]:
from sklearn.linear_model import LogisticRegression 

lr=LogisticRegression()
lr.fit(x_train, y_train)

C:\Users\Dell\Downloads\anoconda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [88]:
predict3=lr.predict(x_test)

In [89]:
score3=accuracy_score(y_test, predict3)

In [90]:
score3

0.8699186991869918

In [91]:
df3=pd.DataFrame({'Actual':y_test, 'Logistic_regression2':predict3})

In [92]:
df3

     Actual  Logistic_regression2
248       0                     0
365       0                     0
432       0                     0
610       0                     0
132       1                     0
..      ...                   ...
281       0                     0
291       0                     0
250       0                     0
11        0                     0
336       0                     0

[123 rows x 2 columns]

In [93]:
import joblib

joblib.dump(lr, 'model_Personal_loan.pkl')

['model_Personal_loan.pkl']

## Travel Loan

In [94]:
y= data['Travel Loan']

In [95]:
from sklearn.model_selection import train_test_split 

x_train, x_test, y_train , y_test=train_test_split (x, y, test_size=0.2, random_state=42)

In [96]:
from sklearn.linear_model import LogisticRegression 

lr=LogisticRegression()
lr.fit(x_train, y_train)

C:\Users\Dell\Downloads\anoconda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [97]:
predict4=lr.predict(x_test)

In [98]:
score4=accuracy_score(y_test, predict4)

In [99]:
score4

0.975609756097561

In [100]:
df4=pd.DataFrame({'Actual':y_test, 'Logistic_regression3':predict4})

In [101]:
df4

     Actual  Logistic_regression3
248       0                     0
365       0                     0
432       0                     0
610       1                     0
132       0                     0
..      ...                   ...
281       0                     0
291       0                     0
250       0                     0
11        0                     0
336       0                     0

[123 rows x 2 columns]

In [102]:
import joblib

joblib.dump(lr, 'model_Travel_loan.pkl')

['model_Travel_loan.pkl']

## combine the prediction column with x_test

In [103]:
x_test['Wedding Loan']=predict1
x_test['Education Loan']=predict2
x_test['Personal Loan']=predict3
x_test['Travel Loan']=predict4

In [104]:
x_test

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score,Wedding Loan,Education Loan,Personal Loan,Travel Loan
248,247,1,1,1,0.0,35741,137.0,180.0,1.0,1,0,0,0
365,364,1,1,0,1.0,17304,141.0,360.0,1.0,1,0,0,0
432,431,1,1,0,1.0,43750,105.0,360.0,0.0,1,0,0,0
610,607,0,1,0,1.0,19515,71.0,360.0,1.0,1,0,0,0
132,131,1,1,0,1.0,13741,74.0,360.0,1.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,280,1,1,1,0.0,38788,158.0,360.0,0.0,1,0,0,0
291,290,1,1,0,1.0,34775,139.0,360.0,1.0,1,0,0,0
250,249,1,1,0,1.0,35735,90.0,360.0,1.0,1,0,0,0
11,10,1,1,2,1.0,44904,70.0,360.0,1.0,0,1,0,0
336,335,1,1,0,1.0,29937,70.0,360.0,1.0,1,0,0,0

## predict on new data

In [105]:
data1=pd.read_csv(r"C:\Users\Dell\Downloads\archive (35)\loan_data_set.csv")

In [106]:
data1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [107]:
data.columns

Index(['UID', 'Marital_status', 'Dependents', 'Is_graduate', 'Income',
       'Loan_amount', 'Term_months', 'Credit_score', 'approval_status', 'Age',
       'Sex', 'Purpose', 'Hobby', 'Wedding Loan', 'Education Loan',
       'Personal Loan', 'Travel Loan'],
      dtype='object')

In [108]:
#'Loan_ID'='UID', 
#'Dependents'='Dependents', 
#'ApplicantIncome'='Income', 
#'Loan_Amount_Term'='Term_months', 
#'Gender'='Sex',
#'Is_graduate'='Education',
#'LoanAmount'='Loan_amount', 
#'Credit_History'='Credit_score'
#'Marital_status'='Married'

In [109]:
data1 = data1.rename(columns={
    'Loan_ID': 'UID',
    'Gender': 'Sex',
    'Married': 'Marital_status',
    'Dependents': 'Dependents',  # This line can be omitted if the name is unchanged
    'Education': 'Is_graduate',
    'ApplicantIncome': 'Income',
    'LoanAmount': 'Loan_amount',
    'Loan_Amount_Term': 'Term_months',
    'Credit_History': 'Credit_score'
})

In [110]:
data1

,UID,Sex,Marital_status,Dependents,Is_graduate,Self_Employed,Income,CoapplicantIncome,Loan_amount,Term_months,Credit_score,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [111]:
data1.columns

Index(['UID', 'Sex', 'Marital_status', 'Dependents', 'Is_graduate',
       'Self_Employed', 'Income', 'CoapplicantIncome', 'Loan_amount',
       'Term_months', 'Credit_score', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [112]:
new_data=data1[['UID', 'Sex', 'Marital_status', 'Dependents', 'Is_graduate',
        'Income', 'Loan_amount',
       'Term_months', 'Credit_score']]

In [113]:
new_data.isnull().sum(axis=0)

UID                0
Sex               13
Marital_status     3
Dependents        15
Is_graduate        0
Income             0
Loan_amount       22
Term_months       14
Credit_score      50
dtype: int64

In [114]:
new_data['Credit_score'].value_counts()

Credit_score
1.0    475
0.0     89
Name: count, dtype: int64

In [115]:
new_data['Credit_score']=new_data['Credit_score'].fillna(1.0)

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\2628509583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Credit_score']=new_data['Credit_score'].fillna(1.0)

In [116]:
new_data['Loan_amount'].mean()

146.41216216216216

In [117]:
new_data['Loan_amount']=new_data['Loan_amount'].fillna(146.41)

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\3261827675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Loan_amount']=new_data['Loan_amount'].fillna(146.41)

In [118]:
data['Term_months'].value_counts()

Term_months
360.0    527
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [119]:
new_data['Term_months']=new_data['Term_months'].fillna(360.0)

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\3751804918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Term_months']=new_data['Term_months'].fillna(360.0)

In [120]:
new_data['Sex'].value_counts()

Sex
Male      489
Female    112
Name: count, dtype: int64

In [121]:
new_data['Dependents'].value_counts()

Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64

In [122]:
new_data['Dependents']=new_data['Dependents'].fillna(0)

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\1912839088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Dependents']=new_data['Dependents'].fillna(0)

In [123]:
new_data['Marital_status'].value_counts()

Marital_status
Yes    398
No     213
Name: count, dtype: int64

In [124]:
new_data['Marital_status']=new_data['Marital_status'].fillna('Yes')

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\2046766215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Marital_status']=new_data['Marital_status'].fillna('Yes')

In [125]:
new_data.columns

Index(['UID', 'Sex', 'Marital_status', 'Dependents', 'Is_graduate', 'Income',
       'Loan_amount', 'Term_months', 'Credit_score'],
      dtype='object')

In [126]:
new_columns=[
    'UID', 'Sex', 'Marital_status' ,'Is_graduate', 
       'Loan_amount',  'Credit_score'
]

In [127]:
from sklearn.preprocessing  import LabelEncoder
lb=LabelEncoder()

for columns in new_columns:
    new_data[columns]=lb.fit_transform(new_data[columns])

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\135395710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data[columns]=lb.fit_transform(new_data[columns])
C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\135395710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data[columns]=lb.fit_transform(new_data[columns])
C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\135395710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data[columns]=lb.fit_transform(new_data[columns])
C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\135395710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data[columns]=lb.fit_transform(new_data[columns])
C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\135395710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data[columns]=lb.fit_transform(new_data[columns])
C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\135395710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data[columns]=lb.fit_transform(new_data[columns])

In [128]:
new_data

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score
0,0,1,0,0,0,5849,100,360.0,1
1,1,1,1,1,0,4583,81,360.0,1
2,2,1,1,0,0,3000,26,360.0,1
3,3,1,1,0,1,2583,73,360.0,1
4,4,1,0,0,0,6000,94,360.0,1
...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,2900,29,360.0,1
610,610,1,1,3+,0,4106,7,180.0,1
611,611,1,1,1,0,8072,163,360.0,1
612,612,1,1,2,0,7583,133,360.0,1
613,613,0,0,0,0,4583,86,360.0,0

In [129]:
new_data.dtypes

UID                 int32
Sex                 int32
Marital_status      int32
Dependents         object
Is_graduate         int32
Income              int64
Loan_amount         int64
Term_months       float64
Credit_score        int64
dtype: object

In [130]:
new_data['Dependents'].value_counts()

Dependents
0     345
1     102
2     101
3+     51
0      15
Name: count, dtype: int64

In [131]:
new_data['Dependents']=new_data['Dependents'].replace({'3+':3})

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\1127682280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Dependents']=new_data['Dependents'].replace({'3+':3})

In [132]:
new_data['Dependents']=new_data['Dependents'].astype(int)

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\4283617959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Dependents']=new_data['Dependents'].astype(int)

In [133]:
new_data

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score
0,0,1,0,0,0,5849,100,360.0,1
1,1,1,1,1,0,4583,81,360.0,1
2,2,1,1,0,0,3000,26,360.0,1
3,3,1,1,0,1,2583,73,360.0,1
4,4,1,0,0,0,6000,94,360.0,1
...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,2900,29,360.0,1
610,610,1,1,3,0,4106,7,180.0,1
611,611,1,1,1,0,8072,163,360.0,1
612,612,1,1,2,0,7583,133,360.0,1
613,613,0,0,0,0,4583,86,360.0,0

In [134]:
data

,UID,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score,approval_status,Age,Sex,Purpose,Hobby,Wedding Loan,Education Loan,Personal Loan,Travel Loan
0,0,0,0,1.0,45848,146.412,360.0,1.0,0,40.0,1,Education,0,0,1,0,0
1,0,0,0,1.0,45848,146.412,360.0,1.0,0,40.0,1,Education,0,0,1,0,0
2,1,1,1,1.0,15325,128.000,360.0,1.0,1,22.0,1,Education,0,0,1,0,0
3,2,1,0,1.0,29105,66.000,360.0,1.0,0,27.0,1,Education,0,0,1,0,0
4,3,1,0,0.0,42944,120.000,360.0,1.0,0,36.0,0,Education,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,607,1,0,1.0,19515,71.000,360.0,1.0,1,55.0,0,Travel,1,0,0,0,1
611,608,1,3,1.0,30004,40.000,180.0,1.0,1,47.0,1,Wedding,1,1,0,0,0
612,609,1,1,1.0,39788,253.000,360.0,1.0,1,27.0,1,Wedding,1,1,0,0,0
613,610,1,2,1.0,37984,187.000,360.0,1.0,0,47.0,1,Wedding,1,1,0,0,0
614,611,1,0,1.0,23743,133.000,360.0,0.0,1,42.0,0,Travel,1,0,0,0,1

In [135]:
joblib.load('model_Education_loan.pkl')

LogisticRegression()

In [136]:
model1=joblib.load('model_Education_loan.pkl')

In [138]:
prediction1=model1.predict(new_data)

In [139]:
prediction1

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [143]:
model2=joblib.load('model_weeding_loan.pkl')

In [144]:
prediction2=model2.predict(new_data)

In [145]:
prediction2

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [146]:
model3=joblib.load('model_Personal_loan.pkl')

In [147]:
prediction3=model3.predict(new_data)

In [148]:
prediction3

array([0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [149]:
model4=joblib.load('model_Travel_loan.pkl')

In [150]:
prediction4=model4.predict(new_data)

In [151]:
prediction4

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1],
      dtype=int64)

In [152]:
new_data['Wedding_loan']=prediction1
new_data['Education_loan']=prediction2
new_data['Personal_loan']=prediction3
new_data['Travel_loan']=prediction4

C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\3047794055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Wedding_loan']=prediction1
C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\3047794055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Education_loan']=prediction2
C:\Users\Dell\AppData\Local\Temp\ipykernel_1720\3047794055.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Personal_loan']=prediction3

In [154]:
new_data.head(200)

,UID,Sex,Marital_status,Dependents,Is_graduate,Income,Loan_amount,Term_months,Credit_score,Wedding_loan,Education_loan,Personal_loan,Travel_loan
0,0,1,0,0,0,5849,100,360.0,1,1,0,0,0
1,1,1,1,1,0,4583,81,360.0,1,1,0,1,0
2,2,1,1,0,0,3000,26,360.0,1,1,0,1,0
3,3,1,1,0,1,2583,73,360.0,1,1,0,1,0
4,4,1,0,0,0,6000,94,360.0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1,1,1,0,3125,121,360.0,1,0,1,0,0
196,196,1,0,0,0,8333,133,360.0,1,0,1,0,0
197,197,0,0,0,1,1907,73,360.0,1,0,1,0,0
198,198,0,1,0,0,3416,66,360.0,1,0,1,0,0
199,199,1,0,0,0,11000,38,360.0,1,0,1,0,0